<html>
<head>
	<title>Call Me Maybe</title>
	<script src="https://static.vline.com/vline.js"></script>
	<script type="text/javascript" src="lib/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="callmemaybe.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="video"></div>
	<button id="Login">Login</button>
	<button id="Call">Call</button>
    
</body>
</html>